/*
Theme Name: Kernel Canvas
Theme URI: http://hawpmedia.com/
Author: Hawp Media
Author URI: http://hawpmedia.com/
Description: A child theme of Kernel Core.
Version: 1.0.0
Template: kernel-core
Text Domain: kernel-canvas
*/
