/*
Theme Name: Hawp Skin
Theme URI: http://hawpmedia.com/
Author: Hawp Media
Author URI: http://hawpmedia.com/
Description: A child theme of Hawp Core.
Version: 0.0.1
Template: hawp-core
Text Domain: hawp-skin
*/
